/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ff8240 !important;
  --secondary: #ffe240 !important;
  --gray: #e4e3e3 !important;
  --dark: #343a40 !important;
  --txt: "Quicksand", sans-serif;
  --logo: "Pacifico", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: var(--txt);
}

#back-to-top {
  display: inline-block;
  background-color: var(--primary);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  z-index: 1000;
}

#back-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#back-to-top:hover {
  cursor: pointer;
  background-color: #333;
}

#back-to-top:active {
  background-color: #555;
}

#back-to-top.show {
  opacity: 1;
  visibility: visible;
}

#nav {
  background-color: #2a292c;
}

.navbar {
  box-shadow: 1px 1px 5px var(--gray);
}

.navbar-brand {
  margin-left: 2rem;
}

.logo,
.logo:hover {
  font-size: 30px !important;
  font-family: var(--logo);
  color: var(--primary);
}

.nav-link {
  color: var(--gray);
}

.nav-link:hover {
  color: var(--secondary);
}

#home {
  padding-top: 20px;
}

#home a,
#projects a {
  text-decoration: none !important;
  color: var(--dark) !important;
}

#about,
#skills,
#projects,
#contact {
  padding-top: 100px !important;
}

.social-media li,
.footer-icons li {
  list-style: none;
}

.social-media i,
.footer-icons i {
  font-size: 36px;
}

#home i.fab,
i.fas {
  color: var(--gray);
}

#home .fa-instagram::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100px;
  border-radius: 10px;
  background-color: var(--primary);
  transform: translate(-400%, 65%);
}

.fa-envelope {
  padding-top: 150px;
}

#home .fa-linkedin-in::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100px;
  border-radius: 10px;
  background-color: var(--primary);
  transform: translate(-400%, -270%);
}

#home button {
  background-color: var(--secondary);
  border: 2px solid white;
}

#dev-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
  color: var(--gray);
  list-style: none;
}

#dev-icons i:hover {
  color: var(--secondary);
}

.themed-text {
  color: var(--primary);
}

#me-img {
  background-size: cover;
  width: 40%;
  height: 400px;
  background-position-x: 50%;
  background-position-y: 20%;
}

#me-img::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 7%;
  background-color: var(--primary);
  z-index: -1;
  transform: translate(14%, 14%);
}

.title {
  text-align: center;
}

h1 {
  font-family: var(--logo);
  letter-spacing: 3px;
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--gray);
}

p {
  font-size: 20px;
}

.border {
  border-radius: 10px;
}

#active {
  color: var(--primary);
}

.projects-info li {
  cursor: pointer;
}

.projects-info i {
  font-size: 50px;
}

.projects-info button {
  background-color: var(--secondary);
}

.form-control {
  background-color: var(--gray);
}

.form-group label {
  color: white;
}

.form-group input,
textarea {
  margin-bottom: 25px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: var(--primary) !important;
  box-shadow: none;
  outline: none !important;
  box-shadow: 0 0 0 0.2rem var(--secondary) !important;
}

form .btn {
  background-color: var(--secondary);
}

.footer-icons i,
.copyright {
  color: var(--gray);
}

@media only screen and (max-width: 700px) {
  #me-img {
    display: none;
  }

  #me-img::after {
    display: none;
  }

  .social-media {
    display: none;
  }

  .intro-text {
    text-align: left !important;
  }
}

@media only screen and (max-width: 700px) {
  #me-img {
    display: none;
  }

  #me-img::after {
    display: none;
  }

  .social-media {
    display: none;
  }

  .intro-text {
    text-align: left !important;
  }
}

@media only screen and (min-width: 701px) and (max-width: 800px) {
  .intro-text {
    text-align: center;
    transform: translateX(9%);
  }

  #me-img {
    display: none;
  }

  #me-img::after {
    display: none;
  }

  .social-media {
    display: none;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
  #me-img::after {
    content: "";
    position: absolute;
    width: 35%;
    height: 4.5%;
    background-color: var(--primary);
    z-index: -1;
    transform: translate(5%, 38%);
  }

  #home button {
    height: 50px;
    width: 200px;
    transform: translate(68%);
  }

  #about,
  #skills,
  #projects,
  #contact,
  #location {
    padding-top: 25px !important;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {
  #me-img::after {
    content: "";
    position: absolute;
    width: 25%;
    height: 6%;
    background-color: var(--primary);
    z-index: -1;
    transform: translate(19%, 33%);
  }

  #about,
  #skills,
  #projects,
  #contact,
  #location {
    padding-top: 25px !important;
  }
}
